In [ ]:
#Task 1 - Create a pandas dataframe (Dataframe name as 'df') with 10 observations and 5 features
#21bce2472 Jeyavvanth.R
import pandas as pd
import numpy as np

data = {
    'Feature1': [1,2,3,4,5,6,7,8,9,10],
    'Feature2': [100,99,98,97,96,95,94,93,92,91],
    'Feature3': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'Feature4': [True, False, True, False, True, False, True, False, np.nan, False],
    'Feature5': [-1.0,0.9,-0.8,0.7,0.6,-0.5,0.4,-0.3,-0.2,0.1]
}

df = pd.DataFrame(data)

In [ ]:
#Task 2 - Check the info of 'df'
#21bce2472 Jeyavvanth.R
print("Info of 'df':")
print(df.info())

Info of 'df':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     int64
 1   Feature2  10 non-null     int64
 2   Feature3  10 non-null     object
 3   Feature4  9 non-null      object
 4   Feature5  10 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes
None

In [ ]:
#Task 3 - Check the description statistics of df
#21bce2472 Jeyavvanth.R
print("Description statistics of 'df':")
print(df.describe())

Description statistics of 'df':
       Feature1   Feature2   Feature5
count  10.00000   10.00000  10.000000
mean    5.50000   95.50000  -0.010000
std     3.02765    3.02765   0.653962
min     1.00000   91.00000  -1.000000
25%     3.25000   93.25000  -0.450000
50%     5.50000   95.50000  -0.050000
75%     7.75000   97.75000   0.550000
max    10.00000  100.00000   0.900000

In [ ]:
#Task 4 - Check the 4th index observation with 'loc' slicing operator
#21bce2472 Jeyavvanth.R
print("4th index observation:")
print(df.loc[3])

4th index observation:
Feature1        4
Feature2       97
Feature3        D
Feature4    False
Feature5      0.7
Name: 3, dtype: object

In [ ]:
#Task 5 - Check the null values in 'df'
#21bce2472 Jeyavvanth.R
print("Null values in 'df':")
print(df.isnull().sum())

Null values in 'df':
Feature1    0
Feature2    0
Feature3    0
Feature4    1
Feature5    0
dtype: int64